a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.link-active {
  background-color: rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.10);
  border-radius: 5px;
}

li:hover {
  background-color: rgba(0,0,0,.02);
}
